.btn {
  margin-top: 20px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 75px;
  height: 25px;
  display: flex;
  text-decoration: none;
  outline: none;
  border: 1px solid #555;
}

.movieList {
  display: flex;
}
